<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/all.min.css" />
    <script src="scripts/script.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">DataBase Project</h1>
    </header>
    <main class="main">
      <nav class="main__nav">
        <ul class="nav__list">
          <li class="nav__item" id="emplyees-a">
            <a>Employees</a>
          </li>
          <li class="nav__item" id="projects-a">
            <a>Projects</a>
          </li>
          <li class="nav__item" id="teams-a">
            <a>Teams</a>
          </li>
          <li class="nav__item" id="tasks-a">
            <a>Tasks</a>
          </li>
          <li class="nav__item" id="custom-a">
            <a>Custom</a>
          </li>
        </ul>
      </nav>
      <section class="main__show-area">
        <div class="default__table__container active__table">
          <h1>NO SELECTED DATA</h1>
        </div>
        <!-- Empoyee Table -->
        <div class="table__container">
          <form action="#" class="filter__form" id="filter-empolyee">
            <div class="filter__from-input">
              <label>Filter Data</label>
              <input type="text" placeholder="Enter Condition" />
            </div>
            <button class="filter__form-btn" id="filter-empolyee-btn">
              Get Data
            </button>
          </form>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Team ID</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <form class="add__form"></form>
        </div>
        <!-- Project table -->
        <div class="table__container">
          <form action="#" class="filter__form" id="filter-project">
            <div class="filter__from-input">
              <label>Filter Data</label>
              <input type="text" placeholder="Enter Condition" />
            </div>
            <button class="filter__form-btn" id="filter-project-btn">
              Get Data
            </button>
          </form>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Deadline</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <form class="add__form"></form>
        </div>
        <!-- Team table -->
        <div class="table__container">
          <form action="#" class="filter__form" id="filter-team">
            <div class="filter__from-input">
              <label>Filter Data</label>
              <input type="text" placeholder="Enter Condition" />
            </div>
            <button class="filter__form-btn" id="filter-team-btn">
              Get Data
            </button>
          </form>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Manager</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <form class="add__form"></form>
        </div>
        <!-- Task table -->
        <div class="table__container">
          <form action="#" class="filter__form" id="filter-task">
            <div class="filter__from-input">
              <label>Filter Data</label>
              <input type="text" placeholder="Enter Condition" />
            </div>
            <button class="filter__form-btn" id="filter-task-btn">
              Get Data
            </button>
          </form>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Deadline</th>
                <th>Project ID</th>
                <th>Team ID</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <form class="add__form"></form>
        </div>
        <!-- Custum table -->
        <div class="table__container">
          <form action="#" class="filter__form" id="filter-customForm">
            <div class="filter__from-input">
              <label>Enter SQL query</label>
              <input id="filter-project" type="text" placeholder="Query" />
            </div>
            <button class="filter__form-btn" id="filter-custom-btn">
              Get Data
            </button>
          </form>
        </div>
      </section>
    </main>
    <script src="scripts/all.min.js"></script>
  </body>
</html>
